### Importacion de Librerias y Modulos

### Importacion de Librerias y Modulos

In [21]:
from functions.datos import Simulador_Ventas
import pandas as pd
import numpy as np

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

# Generar archivos CSV para Ventas y Clientes

### Contenido:
Modulo datos.py creado para generar csv bajo los siguientes lineamientos:

1. Generar dos archivos CSV llamados "ventas.csv" y "clientes.csv" que contengan los datos de ventas y clientes, respectivamente. 
2. Los datos deben ser generados aleatoriamente utilizando funciones de probabilidad (indique en su informe que distribución uso: uniforme, normal u otra).
3. Los valores nulos deben representarse con la palabra "NULL". En el archivo "ventas.csv"
    - La columna "Producto" puede contener hasta un 10% de valores nulos. 
    - En el archivo "clientes.csv", las columnas "Nombre" y "Edad" pueden contener hasta un 5% de valores nulos cada una.

In [22]:
Simulador_Ventas(100,5)

Archivo CSV generado con exito
Archivo CSV generado con exito

# Limpieza de Datos

1. Cargar los datos de ventas y clientes desde los archivos CSV generados utilizando Pandas y almacenarlos en DataFrames separados.
2. Realizar una limpieza de datos inicial en ambos DataFrames, manejando los valores nulos y convirtiendo los tipos de datos según sea necesario.
   Documentar en el informe los pasos realizados para la limpieza de datos. Realizar una limpieza de datos inicial en ambos DataFrames, 
   manejando los valores nulos y convirtiendo los tipos de datos según sea necesario. Documentar en el informe los pasos realizados para la limpieza de datos. 

## Exploración de Datos
### Cargar Datos:

In [6]:
df_ventas = pd.read_csv("data/ventas.csv")

In [7]:
df_ventas.head()

   ID_Venta  ID_Cliente    Categoría         Producto  Precio  Cantidad
0       1.0         1.0  Electrónica        Televisor  159990         5
1       2.0         1.0  Electrónica        Televisor  159990         3
2       3.0         1.0        Hogar  Horno Electrico  189990         5
3       4.0         2.0        Hogar         Lavadora  164990         2
4       5.0         4.0        Hogar         Lavadora  164990         1

In [8]:
df_clientes = pd.read_csv("data/clientes.csv")

In [9]:
df_clientes.head()

   ID_Cliente         Nombre  Edad     Genero Ubicacion
0         1.0        Ava Lee   NaN   Femenino      Este
1         2.0    Ethan Brown  57.0  Masculino    Centro
2         3.0      Ava Scott  52.0   Femenino      Este
3         4.0      Maria Lee  34.0   Femenino    Centro
4         NaN  Olivia Martin  42.0   Femenino      Este

### Exploración

#### Ventas:

In [10]:
df_ventas.columns #Permite conocer las columnas del Dataframe

Index(['ID_Venta', 'ID_Cliente', 'Categoría', 'Producto', 'Precio',
       'Cantidad'],
      dtype='object')

In [11]:
df_ventas.shape #Permite conocer el tamaño de los datos del Dataframe

(100, 6)

In [12]:
df_ventas.info() #Permite conocer los valores nulos del Dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID_Venta    99 non-null     float64
 1   ID_Cliente  75 non-null     float64
 2   Categoría   100 non-null    object
 3   Producto    88 non-null     object
 4   Precio      100 non-null    int64
 5   Cantidad    100 non-null    int64
dtypes: float64(2), int64(2), object(2)
memory usage: 4.8+ KB

In [13]:
df_ventas.describe() #Ayuda a saber como se distribuyen las variables numéricas del Dataframe

        ID_Venta  ID_Cliente        Precio    Cantidad
count  99.000000   75.000000     100.00000  100.000000
mean   50.000000    2.333333  147855.24000    2.820000
std    28.722813    1.222905  163807.86184    1.452132
min     1.000000    1.000000    1000.00000    1.000000
25%    25.500000    1.000000   18240.00000    1.000000
50%    50.000000    2.000000  129990.00000    3.000000
75%    74.500000    4.000000  189990.00000    4.000000
max    99.000000    4.000000  699990.00000    5.000000

In [14]:
df_ventas.describe(include=['O']) #Ayuda a saber como se comportan las variables categóricas del Dataframe

          Categoría  Producto
count           100        88
unique            2        16
top     Electrónica  Lavadora
freq             56         9

#### Clientes:

In [16]:
df_clientes.columns #Permite conocer las columnas del Dataframe

Index(['ID_Cliente', 'Nombre', 'Edad', 'Genero', 'Ubicacion'], dtype='object')

In [17]:
df_clientes.shape #Permite conocer el tamaño de los datos del Dataframe

(5, 5)

In [18]:
df_clientes.info() #Permite conocer los valores nulos del Dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID_Cliente  4 non-null      float64
 1   Nombre      5 non-null      object
 2   Edad        4 non-null      float64
 3   Genero      5 non-null      object
 4   Ubicacion   5 non-null      object
dtypes: float64(2), object(3)
memory usage: 332.0+ bytes

In [19]:
df_clientes.describe() #Ayuda a saber como se distribuyen las variables numéricas del Dataframe

       ID_Cliente       Edad
count    4.000000   4.000000
mean     2.500000  46.250000
std      1.290994  10.275375
min      1.000000  34.000000
25%      1.750000  40.000000
50%      2.500000  47.000000
75%      3.250000  53.250000
max      4.000000  57.000000

In [20]:
df_clientes.describe(include=['O']) #Ayuda a saber como se comportan las variables categóricas del Dataframe

         Nombre    Genero Ubicacion
count         5         5         5
unique        5         2         2
top     Ava Lee  Femenino      Este
freq          1         4         3

In [ ]:
.

# Analisis de Datos